<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Sarawak FMS</string>
    <key>CFBundleIdentifier</key>
    <string>my.gov.sarawak.fms</string>
    <key>CFBundleName</key>
    <string>SarawakFMS</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Sarawak FMS needs access when you attach files to applications or records.</string>
    <key>NSCameraUsageDescription</key>
    <string>Sarawak FMS may use the camera when you attach supporting documents.</string>
</dict>
</plist>
